.page-container {
    display: flex;
    justify-content: center;
}


.page-container > .content-wrapper ​​​{
    width: 1000px;
    background-color: #cbcbcb;
}


.page-container > .content-wrapper p {
    margin-left: 50px;
    margin-right: 30px;
    letter-spacing: 1px;
    line-height: 30px;
}

.the-eruption video {
    margin-left: 200px;
    margin-right: 50px;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.header-contact h1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.heading-wrapper h1 {
    background-color: #177E89;
}

.paragraph-one p {
    font-size: 24px;
    margin: 20px;
}

.ring-fire img {
    display:flex;
    justify-content: center;
    margin-left: 340px;
}

.paragraph-two p {
    font-size: 24px;
    margin: 20px;
}

.style-margin p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: -30px;
}

.style-margin-two p {
    margin: 50px;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 25px;
}

.style-margin-two img {
    margin-left: 335px;
    width: 50%;
    height: 350px;
}

.style-margin-two h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondary-index a {
    color: #cbcbcb;
    margin-left: 25px;
    margin-right: 25px;
}

.center-h-two h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.center-p p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 25px;
}

.center-img img {
    margin-left: 400px;
}

.img-ash img {
    margin-left: 530px;
}

.gas-img img {
    width: 340px;
    height: 224px;
    margin-left: 530px;
}